@charset "utf-8";

@font-face {
    font-family: FZLTCXHJW;
    src: url('font/FZLTCXHJW.TTF') format('truetype');
}

/*@font-face {
    font-family: Nobel;
    src: url('../assets/fonts/Nobel-Light.ttf') format('truetype');
}*/
